<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.lovehealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".LoveHealth"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".MainActivity" />

        <activity android:name=".RegisterPatientActivity" />

        <activity
            android:name=".MainPatientActivity"
            android:label="Your Records" />

        <activity
            android:name=".ViewRecords"
            android:label="Patient&apos;s Records">
        </activity>

        <activity
            android:name=".MainCaregiverActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.example.user.lovehealth.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".DeviceScanActivity" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".Recording"
            android:label="New Records" />

        <activity
            android:name=".HistoryActivity"
            android:label="Patient&apos;s History" />

        <activity
            android:name=".HistoryData"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".PatientHomeMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".GuideActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ListPatientActivity"
            android:label="Select Patient" />

        <activity
            android:name=".ListHistoryPatient"
            android:label="Select Patient" />

        <activity
            android:name=".PatientMainMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>